RewriteEngine on

# Various rewrite rules.

RewriteCond %{HTTP_HOST} !^www.
RewriteRule ^(.*)$ http:<span class="hljs-regexp">//www</span>.%{HTTP_HOST}/$1 [R=<span class="hljs-number">301</span>,L]

# если это папка или файл, открываем его
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# в противном случае перенаправляем на index.php
RewriteRule . index.php