@font-face {
    font-family: "HelveticaNeue";
    font-style: bold;
    font-weight: 700;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("HelveticaNeue"),
         /* Если не получилось, загрузит woff2 */
        url("../fonts/ge/HelveticaNeueLTGEO-Bold.woff2") format("woff2"),
        /* Если браузер не поддерживает woff2, загрузит woff */
        url("/fonts/ge/HelveticaNeueLTGEO-Bold.woff") format("woff"),
        url("/fonts/ge/HelveticaNeueLTGEO-Bold.ttf") format("ttf");
}
@font-face {
    font-family: "HelveticaNeue";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("HelveticaNeue"),
         /* Если не получилось, загрузит woff2 */
        url("../fonts/ge/HelveticaNeueLTGE-reg.woff2") format("woff2"),
        /* Если браузер не поддерживает woff2, загрузит woff */
        url("/fonts/ge/HelveticaNeueLTGE-reg.woff") format("woff"),
        url("/fonts/ge/HelveticaNeueLTGE-reg.ttf") format("ttf");
}

/* Теперь можно использовать шрифт */
body {
    font-family: "HelveticaNeue", sans-serif;
}
.breadcrumbs a, .breadcrumbs p {
    font-size: 15px;
    letter-spacing: -.5px;
    font-stretch: condensed
}
.breadcrumbs a {
    padding-right: 20px;
}
.breadcrumbs a::after {
    right: 5px;
}

@media screen and (max-width: 500px) {
    .footer-phone span {
        max-width: 250px;
    }
}
